$bg-top-head: #354855;
$bg-green-lgt: #EEF4ED;
$bg-form: #1D1D23;

$bg-dark-gray:  #111117;
$bg-card-gray: #19191F;

$primary-color: #058283;
$primary-light: #DAECED;
$bottom-info-bg: #060A0C; 
$heading-dark: #21333E;
$grey-form: #ECECEC;